{% extends 'appblog/test.html' %}

{% block main %}
<br>
<br>
<br>
<br>
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <form action="crear_posteos" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <table class="table table-striped">
                                    {{formulario.media}}
                                    {{formulario.as_table}}
                                    
                                </table>
                                <input type="submit" value="Post">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}